
<div class="py-5 border-top">
  <div class="container">

    <p class="h5 mb-3">{{ site.title | escape }}</p>

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>


      <div class="col-sm text-right">
        <p>{{- site.description | escape -}}</p>

        <p>
          <a href="https://civicdataalliance.org/about/">Site dev and design by Civic Data Alliance</a>
        </p>
      </div>

    </div>

  </div>
</div>
<script   src="https://code.jquery.com/jquery-3.4.1.min.js"   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous"></script>
<!-- <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script> -->
<script src="{{ "/assets/prod/bundle.js" | relative_url }}"></script>
<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script
